@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: #151E25;

    --card: hsl(0 0% 100%);
    --card-foreground: #151E25;
 
    --popover: hsl(0 0% 100%);
    --popover-foreground: #151E25;
 
    --primary: #1984F8;
    --primary-foreground: #FEFEFE;
 
    --secondary: hsl(240 4.8% 95.9%);
    --secondary-foreground: hsl(240 5.9% 10%);
 
    --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%);
 
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
 
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: #FEFEFE;

    --border: hsl(240 5.9% 90%);
    --input: hsl(240 5.9% 90%);
    --ring: #151E25;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #151E25;
    --foreground: #FEFEFE;
 
    --card: #151E25;
    --card-foreground: #FEFEFE;
 
    --popover: #151E25;
    --popover-foreground: #FEFEFE;
 
    --primary: #1984F8;
    --primary-foreground: #FEFEFE;
 
    --secondary: hsl(240 3.7% 15.9%);
    --secondary-foreground: #FEFEFE;
 
    --muted: hsl(240 3.7% 15.9%);
    --muted-foreground: hsl(240 5% 64.9%);
 
    --accent: hsl(240 3.7% 15.9%);
    --accent-foreground: #FEFEFE;
 
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: #FEFEFE;
 
    --border: hsl(240 3.7% 15.9%);
    --input: hsl(240 3.7% 15.9%);
    --ring: hsl(240 4.9% 83.9%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}